@model test_Data.Models.UserModel
@{
    ViewData["Title"] = "UpdateUser";
    UserModel user = TempData["userTemp"] as UserModel;
}
<h1>Update User</h1>
<div class="container">
    <form action="/home/UpdateUserFinal" method="post">
        <input type="hidden" asp-for="Id" value="@user.Id"/>
        <div class="form-group">
            <label>Email address</label>
            <input type="email" placeholder="Enter email" asp-for="Email" value = "@user.Email">
            
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" asp-for="Name" value="@user.Name">
            
        </div>
        <div class="form-group">
            <label>Username</label>
            <input type="text" asp-for="UserName" value="@user.UserName" />
            
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="text" asp-for="Password" value="@user.Password" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>